---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
type Post = CollectionEntry<"posts">;
---
<Layout title="مدونة يارا المصري" description="ترجمات الأدب الصيني إلى العربية.">
  <main>
    <h1>أحدث الترجمات</h1>
    <ul>
      {posts.map((post: Post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>